/* Regular Styles */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #4e555f;
  font-size: 14px;
}
/* Bar Delays Animation Function */
/* Chart Styles */
.chart-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #eeeeee;
}
.chart-wrap .chart-title {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.chart-wrap .row {
  position: relative;
  height: 26px;
  margin-bottom: 15px;
}
.chart-wrap .bar-wrap {
  position: relative;
  background: #d7dbde;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart-wrap .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #f37167;
  transition: all 1s;
  transform: translateX(-100%);
}
.chart-wrap .bar-wrap .bar.in {
  transform: translateX(0%);
}
.chart-wrap .row:nth-of-type(1) .bar {
  transition: 1s 400ms;
}
.chart-wrap .row:nth-of-type(2) .bar {
  transition: 1s 600ms;
}
.chart-wrap .row:nth-of-type(3) .bar {
  transition: 1s 800ms;
}
.chart-wrap .row:nth-of-type(4) .bar {
  transition: 1s 1000ms;
}
.chart-wrap .row:nth-of-type(5) .bar {
  transition: 1s 1200ms;
}
.chart-wrap .row:nth-of-type(6) .bar {
  transition: 1s 1400ms;
}
.chart-wrap .row:nth-of-type(7) .bar {
  transition: 1s 1600ms;
}
.chart-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  padding-left: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
}
.chart-wrap .number {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .chart-wrap .row {
    padding: 0 40px 0 160px;
  }
  .chart-wrap .label {
    text-align: right;
    padding-left: 0;
  }
  .chart-wrap .number {
    text-align: left;
    padding-right: 0;
  }
}
